 * {
 	box-sizing:border-box;
 }

html, body, #map-canvas { 
	height: 100%; 
	width: 100%;
	z-index: 1;
	position: absolute;
	margin: 0; 
	padding: 0;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}

#map-canvas {
	position: fixed;
}

#sidebar {
	border: 3px solid #1e1c16;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 2;
	width: 250px;
	height: 92vh;
	background-color: #0a0a08;
	opacity: 0.9;
	color: #d5c210;
}

#toggle-button {
	display: block;
     	position: absolute;
	top: 32px;
	right: 2px;
	z-index: 2;
}

  #toggle-button:hover {
	cursor: pointer;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 1.5px;
	color: #d5c210;
	text-align: center;
}

h4 {
	text-align: center;
}

h5 {
	padding: 15px;
	font-family: 'Quicksand', sans-serif;
	transition: background-color 0.2s ease;
}

h5:hover {
	cursor: pointer;
	color: #eed919;
	background-color: #010100;
}

input[type="text"] {
	font-family: 'Quicksand', sans-serif;
	border: 2px solid #1e1c16;
	font-size: 18px;
	padding: 8px;
	width: 100%;
	background-color: #f8fafd;
	opacity: 0.9;
	color: #1c3952;
	line-height: 25px;
}

input[type="text"]:focus,
#search:focus {
    outline: none;
}

#search {
	border: 2px solid #1e1c16;
	position: relative;
	padding: 8px;
	font-weight: 900;
	text-align: center;
	display: inline-block;
 	width: 100%;
 	font-size: 18px;
	line-height: 25px;
	color: #1c3952;
	background-color: #f8fafd;
	opacity: 0.9;
	transition: background-color 0.2s ease, color 0.2s ease;
}

#search:hover,
#search:active {
	color: #eed919;
	background-color: #010100;
}

.header{
    height:150px;
    width: 100%;
}

.content{
    position: absolute;
    top: 170px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;        
}

@media screen and (max-width: 900px) {
	#sidebar {
		display: none;
	}
}